.container {
  padding: 75px 15px 90px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.container__title {
  font-size: 55px;
  line-height: 55px;
  letter-spacing: -0.5px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 61px;
}

.container__wrap {
  display: flex;
  box-shadow: 0 2px 24px rgba(168, 175, 196, 0.3);
}

@media (max-width: $tablet-width) {
  .container__wrap {
    flex-direction: column;
  }

  .container {
    padding: 50px 4% 80px;
    max-width: 1023px;
  }

  .container__title {
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 77px;
  }
}

@media (max-width: $mobile-width) {
  .container__title {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 0;
    padding: 56px 0 84px;
  }

  .container {
    max-width: 767px;
    padding: 0;
    background-color: $white;
  }
}
