@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto-slab";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/roboto-slab-regular.woff2") format("woff2"), url("../fonts/roboto-slab-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-slab";
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/roboto-slab-light.woff2") format("woff2"), url("../fonts/roboto-slab-light.woff") format("woff");
}

@font-face {
  font-family: "Open-sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/open-sans-regular.woff2") format("woff2"), url("../fonts/open-sans-regular.woff") format("woff");
}

@font-face {
  font-family: "Open-sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/open-sans-semi-bold.woff2") format("woff2"), url("../fonts/open-sans-semi-bold.woff") format("woff");
}
