$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #000000;
$pale-grey: #f6f7fd;
$blue: #3d3bff;
$text-grey: #657195;
$border-grey: #e6e8f0;
$placeholder-color: #657195;
$registration-bg: #fafbfe;
$tablet-width: 1023px;
$mobile-width: 767px;
